# Prisma / Database
DATABASE_URL="postgresql://neondb_owner:npg_Jdzs07qCgiBt@ep-icy-recipe-ad0d3jjp-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Next.js - Not used for auth, but good practice to have
NEXTAUTH_URL="bejewelled-stroopwafel-c7f15b.netlify.app"
NEXTAUTH_SECRET="change-me-later"

# Feature Flags
ENABLE_AUTH=false
AUTH_TRUST_HOST=true

# Backup Configuration
BACKUP_PROVIDER=local
BACKUP_LOCAL_PATH=./backups
